<footer class="page-footer font-small special-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">
      
          <!-- Social buttons -->
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <h3>
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </h3>
            </li>
            <li class="list-inline-item">
                <h3>
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </h3>
              
            </li>
            <li class="list-inline-item">
                <h3>
                    <a class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-instagram"> </i>
                    </a>
                </h3>           
            </li>
            <li class="list-inline-item">
                <h3>
                    <a class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </h3>
            </li>
          </ul>
          <!-- Social buttons -->
      
        </div>
        <!-- Footer Elements -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="../../../content/images/yo.JPG"> David San Román</a>
        </div>
        <!-- Copyright -->
      
      </footer>
