<div>
    <h2 id="page-heading">
        <span jhiTranslate="pokemonBattleApp.user.home.title">Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user" [routerLink]="['/user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pokemonBattleApp.user.home.createLabel">
            Create new User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pokemonBattleApp.user.victories">Victories</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users ;trackBy: trackId">
                <td><a [routerLink]="['/user', user.id, 'view' ]">{{user.id}}</a></td>
                <td>{{user.victories}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user', user.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user', user.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user', { outlets: { popup: user.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
