<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pokemon-heading" jhiTranslate="pokemonBattleApp.pokemon.home.createOrEditLabel">Create or edit a Pokemon</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pokemon.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pokemon.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.pokemon.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="pokemon.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.pokemon.attack" for="field_attack">Attack</label>
                    <input type="number" class="form-control" name="attack" id="field_attack"
                        [(ngModel)]="pokemon.attack" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.pokemon.spAttack" for="field_spAttack">Sp Attack</label>
                    <input type="number" class="form-control" name="spAttack" id="field_spAttack"
                        [(ngModel)]="pokemon.spAttack" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.pokemon.defense" for="field_defense">Defense</label>
                    <input type="number" class="form-control" name="defense" id="field_defense"
                        [(ngModel)]="pokemon.defense" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.pokemon.spDefense" for="field_spDefense">Sp Defense</label>
                    <input type="number" class="form-control" name="spDefense" id="field_spDefense"
                        [(ngModel)]="pokemon.spDefense" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.pokemon.speed" for="field_speed">Speed</label>
                    <input type="number" class="form-control" name="speed" id="field_speed"
                        [(ngModel)]="pokemon.speed" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.pokemon.hp" for="field_hp">Hp</label>
                    <input type="number" class="form-control" name="hp" id="field_hp"
                        [(ngModel)]="pokemon.hp" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.pokemon.defeated" for="field_defeated">Defeated</label>
                    <input type="checkbox" class="form-control" name="defeated" id="field_defeated"
                        [(ngModel)]="pokemon.defeated" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="pokemonBattleApp.pokemon.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" multiple name="type" [(ngModel)]="pokemon.types">
                        <option [ngValue]="getSelected(pokemon.types, typeOption)" *ngFor="let typeOption of types; trackBy: trackTypeById">{{typeOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="pokemonBattleApp.pokemon.move" for="field_move">Move</label>
                    <select class="form-control" id="field_move" multiple name="move" [(ngModel)]="pokemon.moves">
                        <option [ngValue]="getSelected(pokemon.moves, moveOption)" *ngFor="let moveOption of moves; trackBy: trackMoveById">{{moveOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
