<div>
    <h2 id="page-heading">
        <span jhiTranslate="pokemonBattleApp.pokemon.home.title">Pokemons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pokemon" [routerLink]="['/pokemon/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pokemonBattleApp.pokemon.home.createLabel">
            Create new Pokemon
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pokemons">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.name">Name</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.attack">Attack</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.spAttack">Sp Attack</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.defense">Defense</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.spDefense">Sp Defense</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.speed">Speed</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.hp">Hp</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.defeated">Defeated</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.type">Type</span></th>
            <th><span jhiTranslate="pokemonBattleApp.pokemon.move">Move</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pokemon of pokemons ;trackBy: trackId">
                <td><a [routerLink]="['/pokemon', pokemon.id, 'view' ]">{{pokemon.id}}</a></td>
                <td>{{pokemon.name}}</td>
                <td>{{pokemon.attack}}</td>
                <td>{{pokemon.spAttack}}</td>
                <td>{{pokemon.defense}}</td>
                <td>{{pokemon.spDefense}}</td>
                <td>{{pokemon.speed}}</td>
                <td>{{pokemon.hp}}</td>
                <td>{{pokemon.defeated}}</td>
                <td>
                    <span *ngFor="let type of pokemon.types; let last = last">
                            <a class="form-control-static" [routerLink]="['../type', type?.id, 'view' ]">{{type.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let move of pokemon.moves; let last = last">
                            <a class="form-control-static" [routerLink]="['../move', move?.id, 'view' ]">{{move.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pokemon', pokemon.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pokemon', pokemon.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pokemon', { outlets: { popup: pokemon.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
