<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pokemon">
            <h2><span jhiTranslate="pokemonBattleApp.pokemon.detail.title">Pokemon</span> {{pokemon.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details col-md-6 d-inline-block">
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.name">Name</span></dt>
                <dd>
                    <span>{{pokemon.name}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.attack">Attack</span></dt>
                <dd>
                    <span>{{pokemon.attack}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.spAttack">Sp Attack</span></dt>
                <dd>
                    <span>{{pokemon.spAttack}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.defense">Defense</span></dt>
                <dd>
                    <span>{{pokemon.defense}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.spDefense">Sp Defense</span></dt>
                <dd>
                    <span>{{pokemon.spDefense}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.speed">Speed</span></dt>
                <dd>
                    <span>{{pokemon.speed}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.hp">Hp</span></dt>
                <dd>
                    <span>{{pokemon.hp}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.type">Type</span></dt>
                <dd>
                    <span *ngFor="let type of pokemon.types; let last = last">
                        <a [routerLink]="['/type', type?.id, 'view' ]">{{type.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.pokemon.move">Move</span></dt>
                <dd>
                    <span *ngFor="let move of pokemon.moves; let last = last">
                        <a [routerLink]="['/move', move?.id, 'view' ]">{{move.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>
            <div class="col-md-6 float-right d-inline-block">
                <img src="https://img.pokemondb.net/sprites/black-white/anim/normal/{{pokemon.name | lowercase}}.gif" alt="Charizard" height="150px" width="150px">
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pokemon', pokemon.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
