<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-type-heading" jhiTranslate="pokemonBattleApp.type.home.createOrEditLabel">Create or edit a Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!type.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="type.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.type.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="type.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.type.weaknesses" for="field_weaknesses">Weaknesses</label>
                    <select class="form-control" id="field_weaknesses" name="weaknesses" [(ngModel)]="type.weaknesses" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="weaknessesOption.id === type.weaknesses?.id ? type.weaknesses : weaknessesOption" *ngFor="let weaknessesOption of weaknesses; trackBy: trackWeaknessesById">{{weaknessesOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.type.resistances" for="field_resistances">Resistances</label>
                    <select class="form-control" id="field_resistances" name="resistances" [(ngModel)]="type.resistances" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resistancesOption.id === type.resistances?.id ? type.resistances : resistancesOption" *ngFor="let resistancesOption of resistances; trackBy: trackResistancesById">{{resistancesOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
