<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="type">
            <h2><span jhiTranslate="pokemonBattleApp.type.detail.title">Type</span> {{type.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pokemonBattleApp.type.name">Name</span></dt>
                <dd>
                    <span>{{type.name}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.type.weaknesses">Weaknesses</span></dt>
                <dd>
                    <div *ngIf="type.weaknesses">
                        <a [routerLink]="['/weaknesses', type.weaknesses?.id, 'view']">{{type.weaknesses?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.type.resistances">Resistances</span></dt>
                <dd>
                    <div *ngIf="type.resistances">
                        <a [routerLink]="['/resistances', type.resistances?.id, 'view']">{{type.resistances?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type', type.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
