/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc;
}

.jh-navbar {
    background-color: #353d47;
    padding: 0.2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active,
.jh-navbar .dropdown-item.active:focus,
.jh-navbar .dropdown-item.active:hover {
    background-color: #353d47;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo-img {
    height: 100%;
    background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}











.bannerOpen{
    height: 190px;
    border-bottom:solid 15px; 
    
    top: 0;
    z-index: 90;
}

.rondo0Open{
    height: 85px !important;
    width: 85px !important;
    margin-top: 140px;
    background: #212529;
    z-index: 95;
}

.rondo1Open{
    height: 65px !important;
    width: 65px !important;
    margin-top: 10px;
    z-index: 96;
    
}

.rondo2Open{
    height: 37px;
    width: 37px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.27);
    margin-top: 12px;
    z-index: 97;
}

.rondo2OpenActive{
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.27);
    cursor: pointer;
}

.rondo2OpenActive a:active .rondo2OpenActive{
    background: black;
}

.rondo2OpenActive:hover{
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #ddd;
}

.rondo2OpenInactive{
    box-shadow: none;
    border: 0.5px solid rgb(252, 252, 252);
}

.logo{
    position: absolute;
    margin-left: 400px;
}
