<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resistances">
            <h2><span jhiTranslate="pokemonBattleApp.resistances.detail.title">Resistances</span> {{resistances.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pokemonBattleApp.resistances.name">Name</span></dt>
                <dd>
                    <span>{{resistances.name}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.resistances.type">Type</span></dt>
                <dd>
                    <span *ngFor="let type of resistances.types; let last = last">
                        <a [routerLink]="['/type', type?.id, 'view' ]">{{type.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resistances', resistances.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
