<div>
    <h2 id="page-heading">
        <span jhiTranslate="pokemonBattleApp.resistances.home.title">Resistances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resistances" [routerLink]="['/resistances/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pokemonBattleApp.resistances.home.createLabel">
            Create new Resistances
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="resistances">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pokemonBattleApp.resistances.name">Name</span></th>
            <th><span jhiTranslate="pokemonBattleApp.resistances.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resistances of resistances ;trackBy: trackId">
                <td><a [routerLink]="['/resistances', resistances.id, 'view' ]">{{resistances.id}}</a></td>
                <td>{{resistances.name}}</td>
                <td>
                    <span *ngFor="let type of resistances.types; let last = last">
                            <a class="form-control-static" [routerLink]="['../type', type?.id, 'view' ]">{{type.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/resistances', resistances.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/resistances', resistances.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'resistances', { outlets: { popup: resistances.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
