<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="move">
            <h2><span jhiTranslate="pokemonBattleApp.move.detail.title">Move</span> {{move.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pokemonBattleApp.move.name">Name</span></dt>
                <dd>
                    <span>{{move.name}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.move.power">Power</span></dt>
                <dd>
                    <span>{{move.power}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.move.accuracy">Accuracy</span></dt>
                <dd>
                    <span>{{move.accuracy}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.move.pp">Pp</span></dt>
                <dd>
                    <span>{{move.pp}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.move.contact">Contact</span></dt>
                <dd>
                    <span>{{move.contact}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.move.type">Type</span></dt>
                <dd>
                    <div *ngIf="move.type">
                        <a [routerLink]="['/type', move.type?.id, 'view']">{{move.type?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/move', move.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
