<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-move-heading" jhiTranslate="pokemonBattleApp.move.home.createOrEditLabel">Create or edit a Move</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!move.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="move.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.move.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="move.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.move.power" for="field_power">Power</label>
                    <input type="number" class="form-control" name="power" id="field_power"
                        [(ngModel)]="move.power" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.move.accuracy" for="field_accuracy">Accuracy</label>
                    <input type="number" class="form-control" name="accuracy" id="field_accuracy"
                        [(ngModel)]="move.accuracy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.move.pp" for="field_pp">Pp</label>
                    <input type="number" class="form-control" name="pp" id="field_pp"
                        [(ngModel)]="move.pp" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.move.contact" for="field_contact">Contact</label>
                    <input type="checkbox" class="form-control" name="contact" id="field_contact"
                        [(ngModel)]="move.contact" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.move.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" [(ngModel)]="move.type" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeOption.id === move.type?.id ? move.type : typeOption" *ngFor="let typeOption of types; trackBy: trackTypeById">{{typeOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
