<div>
    <h2 id="page-heading">
        <span jhiTranslate="pokemonBattleApp.move.home.title">Moves</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-move" [routerLink]="['/move/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pokemonBattleApp.move.home.createLabel">
            Create new Move
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="moves">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pokemonBattleApp.move.name">Name</span></th>
            <th><span jhiTranslate="pokemonBattleApp.move.power">Power</span></th>
            <th><span jhiTranslate="pokemonBattleApp.move.accuracy">Accuracy</span></th>
            <th><span jhiTranslate="pokemonBattleApp.move.pp">Pp</span></th>
            <th><span jhiTranslate="pokemonBattleApp.move.contact">Contact</span></th>
            <th><span jhiTranslate="pokemonBattleApp.move.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let move of moves ;trackBy: trackId">
                <td><a [routerLink]="['/move', move.id, 'view' ]">{{move.id}}</a></td>
                <td>{{move.name}}</td>
                <td>{{move.power}}</td>
                <td>{{move.accuracy}}</td>
                <td>{{move.pp}}</td>
                <td>{{move.contact}}</td>
                <td>
                    <div *ngIf="move.type">
                        <a [routerLink]="['../type', move.type?.id, 'view' ]" >{{move.type?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/move', move.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/move', move.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'move', { outlets: { popup: move.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
