<div *ngIf="!isAuthenticated()" class="container inicioSesion">
    <div class="row justify-content-center">
        <div class="boton">
            <div class="row justify-content-center">
                <h2><a class="dropdown-item" (click)="login()" id="login">
                    <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a></h2>
            </div>
        </div>
        
        <div class="boton">
            <div class="row justify-content-center">
                <h2><a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                    <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.register">Register</span>
                </a></h2>
            </div>
            
        </div>
        
    </div>
    
</div>


<div class="container" *ngIf="isAuthenticated()">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3><strong>Press the Pokeball to start a Battle!</strong></h3>
        </div>
        <div class="botonSignOut">
            <div class="row justify-content-center">
                <a class="dropdown-item" (click)="logout()" id="logout">
                    <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="trainerID col-md-10 bg-light rounded">
            <div class="row justify-content-center">
                <div class="ID col-md-11">
                    <div class="col-md-2 tituloID rounded-left"><div class="row justify-content-center"><h4><strong>ID</strong></h4></div></div>
                    <div class="col-md-6 contenidoID rounded-right"><h4><strong>{{account.id}}</strong></h4></div>
                    <div class="col-md-3 contenidoID rounded ml-5">
                        <div class="row justify-content-center">
                            <h4><strong>Charizard</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-11 pene">
                    <div class="col-md-3 perfil float-left">
                        <div class="row justify-content-center">
                            <div class="bg-white imagen shadow-sm rounded">
                                <img src="../../content/images/jhipster_family_member_0_head-192.png">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4  float-left data">
                        <div class="row justify-content-center nombre">
                            <div class="col-md-3 tituloID rounded-left"><div class="row justify-content-center"><h6>Name</h6></div></div>
                            <div class="col-md-9 contenidoID rounded-right"><h6>{{account.login}}</h6></div>
                        </div>
                        <div class="row justify-content-center nombre">
                            <div class="col-md-3 tituloID rounded-left"><div class="row justify-content-center"><h6>Streak</h6></div></div>
                            <div class="col-md-9 contenidoID rounded-right"><h6>{{account.strike}}</h6></div>
                        </div>
                        <div class="row justify-content-center nombre">
                            <div class="col-md-3 tituloID rounded-left"><div class="row justify-content-center"><h6>Victories</h6></div></div>
                            <div class="col-md-9 contenidoID rounded-right"><h6>{{account.victories}}</h6></div>
                        </div>
                        <div class="row justify-content-center nombre">
                            <div class="col-md-3 tituloID rounded-left"><div class="row justify-content-center"><h6>Defeats</h6></div></div>
                            <div class="col-md-9 contenidoID rounded-right"><h6>{{account.defeats}}</h6></div>
                        </div>
                    </div>

                    <div class="col-md-4 pokemon float-right">
                        <div class="row">
                            <div class="bg-white imagen shadow-sm rounded-circle">
                                <div class="row justify-content-center">
                                    <img src="https://img.pokemondb.net/sprites/black-white/anim/normal/charizard.gif" alt="Charizard">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-11">
                    <div class="medallas col-md-8 mt-5 rounded d-inline-block">
                        <div class="row align-items-center">
                            <div class="d-inline-block" style="margin-right: 20px; margin-left: 20px; margin-top: 11px"><h5>BADGES : </h5></div>
                            <div class="medalla shadow-sm rounded-circle"><img src="../../content/images/Medalla1.png"></div>
                            <div class="medalla shadow-sm rounded-circle"><img src="../../content/images/medalla2.png"></div>
                            <div class="medalla shadow-sm rounded-circle"><img src="../../content/images/medalla3.png"></div>
                            <div class="medalla shadow-m rounded-circle"><img src="../../content/images/medalla4.png"></div>
                            <div class="medalla empty shadow-sm rounded-circle"></div>
                            <div class="medalla empty shadow-sm rounded-circle"></div>
                            <div class="medalla empty shadow-sm rounded-circle"></div>
                            <div class="medalla empty shadow-sm rounded-circle"></div>
                        </div>
                    </div>
                    <div class="col-md-3 d-inline-block">
                        <button style="margin-left: 100px;" type="button" class="change btn btn-dark">Change</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


 <!-- 
<div class="row">
    
   
    
    <header class="banner bg-danger w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="bg-white rondo1 rounded-circle border shadow-sm bg-white rounded container">
                <div class="row justify-content-center">
                    <div class="bg-white rondo2 rounded-circle border "></div>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div> 
</div>
-->
