/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
        background-size: contain;
    }
}


.inicioSesion{
    margin-top: 5px;
}

.inicioSesion .boton{
    display: inline-block;
    width: 25%;
}

.boton a{
    padding: 20px;
    border: solid 1px white;
}

.boton a:hover{
    border: 1px solid #ddd;
}

.dropdown-item:active{
    background-color: black;
    color: white !important;
}


.trainerID{
    margin-top: 5px;
    background-color: #f04444!important;
    height: 360px;
    border: 1px solid #ddd;
    background-image: url("../../content/images/pokeball-background.png");
    background-repeat: no-repeat, repeat;
    background-size: 550px, 550px; 
}

.ID{
    margin: 15px;
    height: 40px;
    
}

.tituloID{
    background: #212529;
    height: 100%;
    width: 100%;
    color: white;
    float: left;
}

.contenidoID{
    background: white;
    border: 1px solid #ddd;
    display: inline-block;
    height: 100%;
    opacity: 0.7;
}

.nombre{
    height: 30px;
    margin-bottom: 5px;
}

.perfil{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.perfil .imagen{
    margin-top: 0px; 
    height: 170px;
    width: 170px;
    overflow: hidden;
    border: solid 2px;
}

.perfil .imagen img{
    height: 100%;
    width: 100%;
}
.estadisticas{
    width: 100%;
}

.data{
    position: relative;
}

.pokemon{
    width: 100%;
    position: relative;
}
.pokemon .imagen{
    margin-top: 0px; 
    height: 180px;
    width: 180px;
    overflow: hidden;
    border: 5px solid #ddd;
    opacity: 0.9;
    background-color: rgb(45, 142, 238) !important;
    position: relative;
    margin-left: 65px;
}
.pokemon .imagen img{
    height: 150px;
    width: 150px;
}

.pene{
    height: 150px;
}

.medallas{
    height: 50px;
    background-color: #212529;
    color: white;
}

.medalla{
    height: 35px;
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 6px;
}

.empty{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    opacity: 0.7;
}

.btnChange{
    top:0;
}

.medalla img {
    height: 100%;
    width: 100%;
}


.botonSignOut{
    width: 120px;
}

.botonSignOut a{
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px white;
}

.botonSignOut a:hover{
    border: 1px solid #ddd;
}
