<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-weaknesses-heading" jhiTranslate="pokemonBattleApp.weaknesses.home.createOrEditLabel">Create or edit a Weaknesses</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!weaknesses.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="weaknesses.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pokemonBattleApp.weaknesses.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="weaknesses.name" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="pokemonBattleApp.weaknesses.types" for="field_types">Types</label>
                    <select class="form-control" id="field_types" multiple name="types" [(ngModel)]="weaknesses.types">
                        <option [ngValue]="getSelected(weaknesses.types, typeOption)" *ngFor="let typeOption of types; trackBy: trackTypeById">{{typeOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
