<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="weaknesses">
            <h2><span jhiTranslate="pokemonBattleApp.weaknesses.detail.title">Weaknesses</span> {{weaknesses.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pokemonBattleApp.weaknesses.name">Name</span></dt>
                <dd>
                    <span>{{weaknesses.name}}</span>
                </dd>
                <dt><span jhiTranslate="pokemonBattleApp.weaknesses.types">Types</span></dt>
                <dd>
                    <span *ngFor="let types of weaknesses.types; let last = last">
                        <a [routerLink]="['/type', types?.id, 'view' ]">{{types.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/weaknesses', weaknesses.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
