<div>
    <h2 id="page-heading">
        <span jhiTranslate="pokemonBattleApp.weaknesses.home.title">Weaknesses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-weaknesses" [routerLink]="['/weaknesses/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pokemonBattleApp.weaknesses.home.createLabel">
            Create new Weaknesses
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="weaknesses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pokemonBattleApp.weaknesses.name">Name</span></th>
            <th><span jhiTranslate="pokemonBattleApp.weaknesses.types">Types</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let weaknesses of weaknesses ;trackBy: trackId">
                <td><a [routerLink]="['/weaknesses', weaknesses.id, 'view' ]">{{weaknesses.id}}</a></td>
                <td>{{weaknesses.name}}</td>
                <td>
                    <span *ngFor="let types of weaknesses.types; let last = last">
                            <a class="form-control-static" [routerLink]="['../type', types?.id, 'view' ]">{{types.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/weaknesses', weaknesses.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/weaknesses', weaknesses.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'weaknesses', { outlets: { popup: weaknesses.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
